.button {
  cursor: pointer;
  padding: 10px 2.5%;
  text-align: center;
  background-color: green;
  max-width: 200px;
  color: #fff;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  &-toggle {
    @extend .button;
    background-color: grey;
    &-on {
      @extend .button-toggle;
      background-color: skyblue;
    }
  }
}
