.row {
  flex-direction: row;
}

@for $i from 1 through 100 {
  .col-#{$i} {
    flex: $i;
    flex-basis: 0;
    flex-shrink: 0;
  }
}

.center {
  justify-content: center;
}

.content {
  height: auto;
}

.grid-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-row-gap: 20px;

  @for $i from 1 through 100 {
    &.grid-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
